<!DOCTYPE html>
<html ng-app="classifiedApp">
    <head>
        <title>Buy and sell</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="lib/jquery-3.2.1.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/app.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-route.js"></script>
        <script type="text/javascript" src="node_modules/ng-file-upload/dist/ng-file-upload.min.js"></script>
        <script type="text/javascript" src="node_modules/ng-file-upload/dist/ng-file-upload-shim.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-animate.js"></script>
        <script src="js/app.js"></script>
        <script src="js/controllers/main.controller.js"></script>
        <script src="js/services/services.js"></script>
        <script type="text/javascript" src="main.js"></script>
    </head>
    <body>
        <div id="headerWrapper" ng-controller="HeaderController">
            <span class="logo pull-left">{{appDetails.title}}</span>
            <span class="tagline pull-left">{{appDetails.tagline}}</span>
            <div class="nav-wrapper pull-left">
                <ul class="nav nav-pills">
                    <li ng-class="{active:nav.isActive('/shop')}"><a href="#/shop">Shop</a></li>
                    <li ng-class="{active:nav.isActive('/sell')}"><a href="#/sell">Sell</a></li>
                </ul>
            </div>
        </div>
        <div ng-view class="container" ng-controller="mainController"></div>
    </body>
</html>