<div id="bookListWrapper">
	<p>Please click on buy button to buy the item.</p>
	<ul class="list-unstyled">
		<li class="item" ng-repeat="item in kart"
			style="background: white url('images/{{item.imgUrl}}') no-repeat">
			<div class="item-details clearfix">
				<h3>{{item.name}}</h3>
				<p>{{item.price | currency:'Rs.'}}</p>
				<p>{{item.details}}</p>
				<button class="btn btn-info pull-right" ng-click="buy(item)">Buy</button>
			</div>
		</li>
	</ul>
</div>