<form name="form.myForm">
    <div class="form-group col-md-5 col-md-offset-4">
        <label for="title">Title : </label>
        <input type="text" class="form-control" id="title" placeholder="Enter title" name="title" ng-model="newItem.title" required="true" />
    </div>
    <div class="form-group col-md-5 col-md-offset-4">
        <label for="price">Price : </label>
        <input type="number" class="form-control" id="price" placeholder="Enter price" name="price" min="0" ng-model="newItem.price" required="true">
    </div>
    <div class="form-group col-md-5 col-md-offset-4">
        <label for="email">Email : </label>
        <input type="email" class="form-control" id="email" placeholder="Enter Email" name="email" ng-model="newItem.email" required="true">
    </div>
    <div class="form-group col-md-5 col-md-offset-4">
        <label for="title">Details : </label>
        <textarea class="form-control" rows="3" id="details" ng-model="newItem.details" required="true"></textarea>
    </div>
    <div class="form-group col-md-5 col-md-offset-4">
        <div ng-controller="upload">
            <label for="imgUrl">Details : </label>
            <input type="file" fileinput="file" filepreview="filepreview" ng-model="newItem.imgUrl" />
            <img ng-src="{{filepreview}}" class="img-responsive" ng-show="filepreview"/>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-center">
            <button type="submit" id="btnSearch" class="btn btn-primary btn-md center-block" Style="width: 100px;" ng-click="createTodo()">Post</button>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button id="btnClear" class="btn btn-danger btn-md center-block" Style="width: 100px;" ng-click="resetForm()">Clear</button>
        </div>
    </div>
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>