<div id="bookListWrapper" >
    <form role="form">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search here..."
                ng-model="searchStr">
        </div>
    </form>
    <ul class="list-unstyled">
        <li class="item" ng-repeat="item in todos | filter:searchStr"
            style="background: white url('images/{{item.imgUrl}}') no-repeat">
            <div class="item-details clearfix">
                <h3>{{item.title}}</h3>
                <p>{{item.price | currency:'Rs.'}}</p>
                <p>{{item.details}}</p>
                <button class="btn btn-info pull-right" ng-click="sendEmail(item)">Buy</button>
            </div>
        </li>
    </ul>
</div>