#headerWrapper {
    width: 100%;
	height: 80px;
}

.logo {
    padding: 10px;
    margin-right: 10x;
    font-size: 35px;
    font-family: fantasy;
}

.tagline {
    font-size: 10px;
    margin-top: 50px;
    margin-left: -123px;
    font-family: monospace;
}

.nav-wrapper {
    margin-left: 100px;
    margin-top: 15px;
}

#bookListWrapper {
	width: 100%;
	padding: 10px;
}

#bookListWrapper input {
	width: 25%;
}

#bookListWrapper .item {
	border: 1px solid gray;
	padding: 10px;
	margin-bottom: 10px;	
	position: relative;
}

#bookListWrapper .item .item-details {
	margin-left: 160px;
}

.container.ng-enter {
	-webkit-transition:0.5s linear all;
	 -moz-transition:0.5s linear all;
	 -o-transition:0.5s linear all;
	 transition:0.5s linear all;
	 opacity:0;
}

.container.ng-enter-active {
	 opacity:1;
}

.item.ng-leave {
	-webkit-transition:0.5s linear all;
	 -moz-transition:0.5s linear all;
	 -o-transition:0.5s linear all;
	 transition:0.5s linear all;
	 opacity:1;
	 left: 0;
}

.item.ng-leave-active {
	opacity:0;
	left: 600px;
}

.item.ng-enter {
	-webkit-transition:0.5s linear all;
	 -moz-transition:0.5s linear all;
	 -o-transition:0.5s linear all;
	 transition:0.5s linear all;
	 opacity:0;
	 left: 600px;
}

.item.ng-enter-active {
	opacity:1;
	left: 0;
}

#btnSearch,
#btnClear{
    display: inline-block;
    vertical-align: top;
}